body {
    background-image: url(https://services.meteored.com/img/article/por-que-el-cielo-se-torna-naranja-durante-el-atardecer-1684770960305_1280.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*tipografia*/
@font-face {
    font-family: "Santiago";
    src: url(./../Assets/Fonts/kanit/Kanit-Black.ttf);
}

/*barra de navegacion*/
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    color: white;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

li a{
    color: white;
    text-decoration: none;
}


.Logo{
    width: 120px;
}



/*Titulo*/
.Titulo1{
    padding: 50px;
    text-align: center;
    
}

/*Fotos*/
.todosjuntos{
    /*font: size 300px; 
    
    width: 1000px;
    display: flex;
    width: center;
    height: center;
    margin-right: auto;
    margin-left: center;
    justify-content: center;
    align-items: center;*/
}

.tx23 {
    padding: 50px;
    text-align: center;
    background-color: aliceblue;
   
}

.tx24{
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

.tx25{
    padding: 10px;
    text-align: left;
    
}

li h3 {
    display: inline-block;
}

/*carrusel*/
.slide{
    margin-top: 10px;
}

.slide img{
    height: 40vw;
}
/*
.carousel {
    display: flex;
    justify-content: center;
    width: 1500px;
    min-height: 700px;
    }*/

@media (max-width:700px){
    header{
        flex-direction: column; }}
    


